:root {
    --bg-tan: #D5C8C0;
    --bg-blue: #596772;
    --fg-brown: #6C6869;
    --off-white: #FBFCFE;
    --bg-gray: rgb(180, 180, 180);
}

.window-app .window-content {
    overflow-x: auto;
}
.sheet-body.character{
    height: calc(100% - 30px);
}
.sheet-body.other{
    height: calc(100% - 60px);
}
.sheet-body.npc{
    height: calc(100% - 140px);
}
.sheet-navigation.tabs .gear {
    flex: none !important;
    width: auto !important;
}
.sheet-navigation.tabs a.item {
    flex: 1;
    display: block;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab.full-page {
    height: 100%;
}
.frow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.fcol{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.fill-space{
    flex: 1;
}
.fcol hr{
    margin: 3px 0px;
}
input.no-bg{
    border: none;
    background: none;
}
input.short{
    width: 40px;
}
.item-row label{
    margin: auto 0;
    margin-right: 4px;
    font-weight: bold;
}
.item-row input{
    margin: auto 0;
}
.item-row input.right{
    text-align: right;
}
.row-input {
    display: flex;
    flex: 1;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
hr.blue {
    border: 0;
    display: block;
    width: 100%;
    background-color: var(--bg-blue);
    background-image: none;
    height: 2px;
    margin: 0;
}
.red{
    color: #795159;
}

.character.sheet{
    font-family: Garamond, serif;
    font-weight: bold;
}
.character.sheet .window-content{
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,.3);
}

.overview-container {
    min-width: 720px;
}
.bio-container {
    min-width: 720px;
}
.bio-right{
    width: 160px;
}
.bio-border.padded{
    padding: 4px;
}
.bio-border p{
    margin: 0.5px 0;
}
.playerinfo-left {
    flex: 4;
    margin: 2px;
}
.char-name-container{
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    height: 70%;
    padding: 4px;
}
.char-level-container{
    height: 30%;
    font-size: 20px;
    font-weight: normal;
    flex: 1;
}
.char-name-container input{
    border: none;
    background:none;
    font-size: 24px;
}
.playerinfo-right {
    background-color: var(--bg-tan);
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    flex: 6;
}
.playerinfo-right label{
    color: var(--fg-brown);
}
.playerinfo-right input{
    background-color:white;
}
.race-row{
    width:100%;
}
.race-row div{
    width: 25%;
}
.speed-row{
    width:100%;
}
.speed-row div{
    width: 25%;
}

.char-info-body{
    padding:4px;
}
.stats-body-left-col{
    width: 220px;
    min-width: 220px;
}
.glance-vals{
    width:100%;
    padding-bottom: 8px;
}
.glance-row-container{
    margin-bottom: -8px;
}
.glance-label-container{
    flex: 1;
    justify-content: center;
}
.glance-label-container2{
    background-color: var(--bg-tan);
    border-radius: 4px;
    text-align: right;
    padding-right: 4px;
    font-size: 16px;
    margin-left: -10px;
}
.glance-label-container label{
    color: var(--fg-brown);
}
.val-bubble{
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    width: 32px;
    height: 32px;
    z-index: 2;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.val-bubble h4{
    margin: 0px;
    text-align: center;
}
.val-bubble input{
    margin: 0px;
    text-align: center;
    border: none;
    background: none;
    width: 100%;
}
.val-bubble.bubble-right{
    margin-left:16px;
}
.attributes-col{
    padding:8px;
    width: 100%;
    background-color:var(--bg-tan);
    border-radius:4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.attributes-scores{
    width:100%;
}
.attribute{
    width:100%;
}
.attr-nums-container{
    margin-bottom: 20px;
}
.attr-nums-col{
    width:50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background:white;
    z-index: 2;
}
.attribute-modifiers{
    border-bottom: solid;
    justify-content: center;
    padding: 8px 0px;
}
span.attribute-mod {
    font-size: 24px;
}
.attr-nums-col input{
    border:none;
    background-color:white;
    text-align: center;
}
.attr-prof-col{
    flex:1;
    padding-bottom: 6px;
}
.attr-name-container{
    width: calc(100% + 6px);
    background-color:var(--bg-blue);
    color:var(--off-white);
    border-radius: 4px;
    padding: 6px;
    padding-left: 12px;
    margin-left: -6px;
}
.attribute-name{
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}
a.profcheck {
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    width: 8px !important;
    height: 8px !important;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--fg-brown);
    outline: none;
    cursor: pointer;
    flex: none;
    margin: 3px 5px;
}
a.profcheck.checked {
    background-color: var(--bg-blue);
}
a.profcheck.skill-expert {
    border-radius: 0;
    transform: rotate(45deg);
    width: 6px !important;
    height: 6px !important;
    margin: 4px 5px;
    margin-left: 0;
}
a.profcheck.savvy {
    border-radius: 0;
    transform: rotate(45deg);
    width: 6px !important;
    height: 6px !important;
    margin: 4px 5px;
    margin-left: 0;
}
.prof-radio-container {
    width: 30px;
    justify-content: center;
}
.prof-num-container {
    margin-right: 4px;
}
.prof-row {
    color: var(--fg-brown);
    margin-bottom: -1px;
}
.res-equip-atk-col{
    padding:4px;
    padding-right: 0px;
    flex:1;
}
.res-equip-row{
    padding:4px;
    padding-right: 0px;
}
.res-col{
    padding:4px;
    width:300px;
}
.ac-container {
    width: 120px;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
}
.npc-container {
    width: 100px;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
}
.shield-container {
    padding-top: 12px;
    margin-left: -16px;
}
.shield-info {
    z-index: 3;
    text-align: center;
    width: 60px;
    height: 60px;
    padding-top: 4px;
    margin-bottom: -60px;
    font-size: 12px;
}
.shield-info input {
    font-size: 24px;
    border: none;
    background: none;
    padding-right: 0;
}
a.shield-toggle {
    width: 12px;
    height: 12px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25%;
    margin: auto;
    background: white;
}
a.shield-toggle.checked{
    background-color: var(--bg-blue);
}
.shield-vis div.equipped{
    background: white !important;
}
.shield-top {
    width: 60px;
    height: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: repeating-linear-gradient(45deg, var(--bg-gray),var(--bg-gray) 10px,white 10px,white 20px);
    z-index: 1;
}
.shield-middle {
    width: 60px;
    height: 30px;
    border-left: solid;
    border-right:solid;
    border-width: 3px;
    background: repeating-linear-gradient(45deg, var(--bg-gray) 16.5px,var(--bg-gray) 26.5px,white 26.5px,white 36.5px);
    z-index: 2;
    margin-top: -10px;
}
.shield-bottom {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, var(--bg-gray) 15.5px,var(--bg-gray) 25.5px,white 25.5px,white 35.5px);
    z-index: 1;
    margin-top: -30px;
}
.total-ac h4 {
    font-size: 44px;
    margin-bottom: -8px;
    margin-top: -4px;
}
.base-ac h4 {
    font-size: 16px;
    margin: 0;
}
.initiative-container {
    width: 100px;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
    margin-left: auto;
}
.initiative-container h4 {
    font-size: 44px;
    margin-top: 4px;
}
.equip-col{
    padding:4px;
    padding-right: 0px;
    flex:1;
    min-width: 190px
}
.atk-row{
    max-height: 300px;
    padding:4px;
}
.item-card.attack.item p{
    margin: 1px 0px;
}
.window-content:has(.desperate){
    box-shadow: 0 0 200px rgb(0 0 0 / 90%) inset;
}
.window-content:has(.downed){
    box-shadow: 0 0 200px rgb(255 0 0 / 90%) inset;
}
.desperate-container{
    margin-top: 2px;
}
.desperate-container label {
    margin: auto 0px;
}
.desperate-toggle{
    width: 24px;
    height: 24px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25%;
    margin-left: 4px;
}
.desperate-toggle.desperate{
    color: var(--fg-brown);
    border:none;
}
.desperate-toggle img{
    border:none;
    float: right;
    filter: invert(1);
    margin: -2px;
    height: 28px !important;
    width: 28px !important;
    max-width: none;
}
.hp-mana {
    margin-top:4px;
}
.hp-death-container {
    width: 180px;
    height: 94px;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
}
.hp-container {
    border-bottom: solid;
    border-width: 3px;
}
.hp-container input {
    background: none;
    border: none;
}
input.hp-big {
    font-size: 32px;
}
input.hp-small {
    font-size: 12px;
    margin: 0px;
    height: 16px;
}
.hp-current-col {
    flex: 1.5;
}
.hp-max-col {
    flex: 1;
    padding-left: 6px;
}
.hp-divider {
    background: black;
    width: 3px;
    transform: rotate(30deg);
    height: 67px;
    margin: -6px 0px;
}
.death-container{
    height: 30px;
}
.death-progress {
    flex: 1;
}
.death-console {
    flex: 30px;
}
.death-save {
    width: 10px !important;
    height: 10px !important;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--fg-brown);
    margin: auto auto;
}
.death-save.checked{
    background-color: var(--bg-blue);
}
.death-save .cross {
    width: 1px;
    background: black;
    height: 100%;
    margin: auto;
    transform: rotate(45deg);
}
a.death-reset-button {
    flex: 1;
}
i.death-button {
    border: none;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    cursor: pointer;
}
.mana-container {
    width: 100px;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
}
.mana-vals {
    margin: auto 0;
}
input.mana-val{
    background: none;
    border: none;
}
.mana-val {
    font-size: 30px !important;
    height: auto !important;
    flex: 1;
    padding: 0 !important;
    font-weight: bold;
}
.mana-val.divider{
    flex: 0;
}
.mana-charge{
    margin-top: auto;
}
.rest-dice{
    margin-top: 4px;
}
.rest-labels{
    width: 14px;
}
.rest-label {
    height: 12px;
    z-index: 5;
}
.rest-label.top {
    margin-bottom: -12px;
}
.rest-label.bottom {
    margin-top: -14px;
    margin-bottom: 2px;
}
.rest-label-spacer{
    flex: 1;
}
.rest-label-inner{
    flex:8;
    background: white;
    height: 14px;
    padding-bottom: 2px;
}
.rest-status-container {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
    flex: 1;
}
.rest-labels-container {
    width: 50%;
}
.rest-container {
    width: 100%;
    height: 100%;
}
.rest-die-col {
    flex: 1;
    border-right: solid;
}
.rest-die.max {
    border-top: solid;
    flex: 2;
}
.rest-die input {
    background: none;
    border: none;
}
.rest-die.val {
    flex: 3;
    justify-content: end;
}
.status-container {
    flex: 1;
}
.status-container .fcol {
    flex: 1;
}
.condition-container {
    border-top: solid;
}
.status-container textarea {
    flex: 1;
    border: none;
    background: none;
    resize: none;
    min-height: 0px;
    padding: 0px;
    padding-left: 2px;
}
.res-row {
    margin-top: 4px;
}
.res-container {
    flex: 1;
    text-align: center;
}
.res-border {
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
    height: 50px;
}
.res-values {
    flex: 1;
    font-size: 24px;
}
.res-values input {
    border: none;
    background: none;
    flex: 1;
    padding: 0px;
    margin: auto;
}
.res-values label {
    margin: auto;
}
.res-spacer {
    width: 2px;
}
.res-label {
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
}
.res-label input {
    border: none;
    background: none;
    padding: 0px;
    font-size: 16px;
    line-height: 16px;
    height: 14px;
}
.res-buttons {
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: -8px;
}
img.res-button {
    border: none;
    filter: invert(1);
    width: 12px;
    height: 12px;
    margin: 0 2px;
    cursor: pointer;
}
.res-count-buttons {
    justify-content: right;
    font-size: 24px;
}
a.res-button.add {
    margin-left: 8px;
}
a.toggle-lock {
    width: 16px;
    text-align: center;
}
.list-header label {
    flex: 1;
    text-align: center;
    margin-right: -32px;
}
.attunement-footer label {
    flex: 1;
    text-align: center;
}
.list-header.addable label {
    margin-right: -29px;
}
.list-container{
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: var(--bg-tan);
    display: flex;
    height: 100%;
}
.list-container.equipment{
    padding-bottom: 16px;
    height: 400px;
}
.scroll-container {
    overflow-y: scroll;
    flex: 1;
}
.scroll-container.equipment {
    border-top: 1px solid var(--bg-blue);
    border-bottom: 1px solid var(--bg-blue);
}
.money-container {
    height: 30px;
    padding: 0px 4px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 8px;
}
.money-col {
    flex: 1;
}
.money-val-container {
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
    margin: 0 2px;
}
.money-val-container input {
    border: none;
    background: none;
    padding: 0;
}
.item-card {
    background-color: var(--bg-tan);
    border: solid;
    border-width: 1px;
    border-color: var(--bg-blue);
}
.item-img {
    width: 40px;
    height: auto;
    margin: auto 0px;
}
.item-img.spell {
    height: 40px;
    background-size: contain;
}
.roll-spell{
    width: 100%;
    height: 100%;
}
.roll-spell i{
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.05);
    font-size: 40px;
}
.roll-spell i:hover{
    color:white;
}
.item-name {
    padding-left: 4px;
    flex: 1;
    display: flex;
}
.item-name a{
    margin: auto 0;
}
.item-name p{
    margin: 0px;
}
.item-buttons {
    justify-content: center;
    padding: 0px 4px;
}
.class-level{
    display: flex;
    padding-right: 4px;
}
.class-level label{
    margin: auto 0;
}
.classes-container {
    height: 100%;
    min-width: 400px;
    max-height: 85vmin;
}
.class-subclass-row {
    flex: 2;
    min-height: 120px;
    max-height: 25%;
}
.abilities-row {
    margin: 2px;
    flex: 5;
    min-height: 140px;
    max-height: 75%;
}
.class-col {
    margin: 2px;
}
.subclass-col {
    margin: 2px;
}

.bio-container {
    height: 100%;
}
.bio-body {
    flex: 1;
}
.bio-block {
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.bio-block label {
    text-align: center;
}
.bio-border {
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    background: white;
    flex: 1;
}
.bio-block textarea {
    height: 100%;
    background: none;
    resize: none;
    border: none;
}
.bio-header {
    background-color: var(--bg-tan);
    padding: 4px;
    margin: 0.5%;
    border-radius: 4px;
}
.bio-header-block label {
    color: var(--fg-brown);
}
.bio-header-block input {
    background: white;
}
.short {
    flex: 1;
}
.long {
    flex: 2;
}
img.portrait {
    width: 180px;
    height: 240px;
    border: none;
    margin: 0px;
    margin-bottom: -4px;
    object-fit: cover;
    object-position: top;
}
.relations-col {
    width: 190px;
}

.spells-container {
    height: 100%;
    max-height: 90vmin;
}
.prepared-toggle{
    width: 24px;
    height: 24px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25%;
    margin: auto 4px;
}
.prepared-check {
    font-size: 24px;
    margin-left: 1px;
}
.prepared-star {
    margin: auto 4px;
    font-size: 22px;
}
.mana-stats {
    font-size: 16px;
    background-color: var(--bg-tan);
    padding: 4px;
    border-radius: 4px;
    margin-top: -5px;
}
.mana-stats.spend {
    background-color: var(--bg-blue);
    color:var(--off-white);
    font-size: 12px;
    margin-top: 0px;
}
.mana-cost .onhover{
    display: none;
}
.mana-cost:hover .onhover{
    display: block;
}
.mana-cost:hover .nohover{
    display: none;
}
.mana-stats div {
    justify-content: center;
    display: flex;
}
.mana-stats label {
    margin: auto 0px;
}
.caster-stat h4 {
    font-size: 20px;
    margin: 2px 0px;
    font-weight: bold;
}
input.spells-mana-val {
    width: 3ch;
    height: auto;
    padding: 0px;
    margin-left: 2px;
    border: none;
    background: none;
    font-weight: bold;
    text-align: center;
}
.caster-stats {
    margin-bottom: 3px;
}
.cantrips-row {
    margin: 2px;
    flex: 2;
    min-height: 140px;
    max-height: 25%;
}
.spells-row {
    margin: 2px;
    flex: 5;
    min-height: 140px;
    max-height: 58%;
}
.spell-details-col{
    padding: 0px 2px;
    text-align: center;
}
.item-to-chat{
    flex: 0 !important;
    font-size: 24px;
}
.spell-detail-row {
    margin: auto;
}
.spell-detail-row p {
    margin: auto;
}
.spell-detail-row img{
    border: none;
    width:20px;
    height: 20px;
}
.spell.subtext {
    font-size: var(--font-size-11);
    color: dimgrey;
}
a.damage-control.delete-damage {
    margin: auto 4px;
}
.between-txt {
    margin: auto 4px;
    white-space: nowrap;
}
.nowrap{
    white-space: nowrap;
}
.item-row {
    margin: 4px 0;
    column-gap: 20px;
}
.item-roll-container.attack{
    font-size: 28px;
    padding: 4px;
    margin: auto 0px;
}
.item-props{
    padding-left: 4px;
    flex: 1;
    display: flex;
}
.item-count {
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.item-count-change.increase {
    margin-bottom: -6px;
}
.item-count-change.decrease {
    margin-top: -6px;
}
.item-attune-change {
    font-size: 18px;
    color: var(--fg-brown);
}
.item-attune-change.attuned {
    color: var(--bg-blue);
}

.config-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.config-group {
    width: 33%;
    border: solid;
    border-width: 3px;
    border-radius: 6px;
    padding: 4px;
}
.config-header {
    justify-content: center;
}
.config-input {
    margin: 2px 0;
}
.config-input label {
    margin: auto 0;
    flex: 3;
}
.config-input input {
    flex: 1;
}
.traits-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 4px;
}
.editor{
    min-height: 30px;
}
.editor-container {
    min-height: 160px;
}
.editor.prosemirror {
    background: rgba(0, 0, 0, 0.1);
}
.npc-attr {
    margin: 0px 5px;
}
.npc-attr-name-container {
    background-color: var(--bg-blue);
    color: var(--off-white);
    border-radius: 4px;
    padding: 6px;
    text-align: center;
}
.npc-attr .attr-nums-col {
    margin: 2px;
}
.npc-row-1 .hp-death-container {
    height: 62px;
}
.npc-row-1 .hp-death-container .hp-container {
    border-bottom: none;
}
.ac-container input {
    background: none;
    border: none;
}
a.btn-armor-equip {
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    width: 100%;
    text-align: center;
    border-color: var(--bg-blue);
    color: inherit;
    background-color: var(--bg-gray);
}
a.btn-armor-unequip {
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    width: 100%;
    text-align: center;
    border-color: var(--bg-blue);
    color: var(--off-white);
    background-color: var(--bg-blue);
}
.npc-row-1 .ac-container {
    margin-left: 5px;
    height: 62px;
}
.npc-two-col {
    margin: 2px;
}
.npc-abilities-equip-row {
    flex: 3;
    min-height: 120px;
    max-height: 35%;
}
.npc-attacks-row {
    margin: 2px;
    flex: 3;
    min-height: 140px;
    max-height: 30%;
}
.npc-spells-row {
    margin: 2px;
    flex: 3;
    min-height: 140px;
    max-height: 35%;
}
.rollable{
    cursor: pointer;
}
.dice-total.critical{
    color: green;
}
.dice-total.fumble{
    color: red;
}
.description-container.inactive {
    background: repeating-linear-gradient(45deg, rgba(0,0,0, 0.1),rgba(0,0,0, 0.1) 10px,transparent 10px,transparent 20px);
}
.description-container.highlighted {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: var(--bg-blue);
    margin: -2px;
}
