<div class="equipment-card item frow" data-item-id="{{_id}}">
    <img class="equipment-img" src="{{img}}"/>
    <div class="equipment-name">
        <a class="item-open"><p>{{name}}</p></a>
    </div>
    <div class="equipment-buttons fcol">
        <a class="item-delete" title="{{ localize "undertaking.DeleteItem" }}">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>