<div class="item-card subclass item frow" data-item-id="{{_id}}">
    <img class="item-img subclass" src="{{img}}"/>
    <div class="item-name subclass">
        <a class="item-open"><p>{{name}}</p></a>
    </div>
    <div class="item-buttons subclass fcol">
        {{#ifCond lockEdit '==' 0}}                        
            <a class="item-delete" title="{{ localize "undertaking.DeleteItem" }}">
                <i class="fas fa-trash"></i>
            </a>
        {{/ifCond}}
    </div>
</div>