<div class="item-card equipment item frow" data-item-id="{{_id}}">
    <img class="item-img equipment" src="{{img}}"/>
    <div class="item-name equipment">
        <a class="item-open"><p>{{name}}</p></a>
    </div>
    <div class="item-buttons equipment fcol">
        {{#ifCond lockEdit '==' 0}}                        
            <a class="item-delete" title="{{ localize "undertaking.DeleteItem" }}">
                <i class="fas fa-trash"></i>
            </a>
        {{/ifCond}}
    </div>
</div>